<section class="phx-hero">
  <%= f = form_for :form, "#", phx_change: :form_changed %>
  <div>
    Continent: <%= select f, :continent, @continent_options, prompt: "Choose a continent" %>
  </div>
  <div>
    Countries: <%= multiple_select f, :country, @country_options %>
  </div>
  </form>
</section>
